/*
	 Moockup v0.1
	 https://github.com/tin-cat/moockup
 */

.moockup {
	position: relative;
	font-family: 'Inconsolata', monospace;
	font-size: 11pt;
	background: #fff;
	color: #000;
}

.moockup.fullScreen {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.moockup.lightBackground {
	color: #000;
}

.moockup.darkBackground {
	color: #fff;
}

.moockup > .message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #888;
	color: #fff;
	padding: 2em;
}

.moockup > .message.error {
	background: #ff005e;
}

.moockup > .header {
	position: absolute;
	top: 1em;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 1;
}

.moockup > .footer {
	position: absolute;
	bottom: 1em;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 1;
}

.moockup > .screens {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 0;
}

.moockup > .screens > .screen {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

	width: 100%;
	height: 100%;
	padding: 0 10%;
	box-sizing: border-box;
	background: #fff;
	color: #000;
}

.moockup.withHeader > .screens > .screen {
	padding-top: 3.5em;
}

.moockup.withFooter > .screens > .screen {
	padding-bottom: 3.5em;
}

.moockup > .screens > .screen.lightBackground {
	color: #000;
}

.moockup > .screens > .screen.darkBackground {
	color: #fff;
}

.moockup > .screens > .screen > .mockup {
	position: relative;
	max-width: 100%;
	max-height: 100%;
	margin-right: 8%;
}

.moockup > .screens > .screen > .mockup:last-child {
	margin-right: 0;
}

.moockup > .screens > .screen > .mockup > img.frame {
	z-index: 1;
	pointer-events: none;
	opacity: .99; /* trick to force the image to be on top of the content, for screen glare effects */
}

.moockup > .screens > .screen > .mockup > img.frame.landscape {
	width: 100%;
	max-width: 100vmin; /* magic to keep mockups inside the screen while taking the most possible space and not distorting their aspect ratio */
}

.moockup > .screens > .screen > .mockup > img.frame.portrait {
	height: 100%;
	max-height: 100vmin; /* magic to keep mockups inside the screen while taking the most possible space and not distorting their aspect ratio */
}

.moockup > .screens > .screen > .mockup > .container {
	position: absolute;
	overflow-y: scroll;
	z-index: 0;
}

.moockup > .screens > .screen > .mockup.image > .container > img {
	width: 100%;
}

.moockup > .screens > .screen > .mockup.MacDesktop > .container {
	left: 4.2%;
	top: 5.2%;
	right: 4.2%;
	bottom: 30.15%;
	border-radius: 2px;
}

.moockup > .screens > .screen > .mockup.iPhoneXPortrait > .container {
	left: 6.5%;
	top: 3%;
	right: 6.5%;
	bottom: 3%;
	border-radius: 2px;
}